# Visual Studio cache/options directory
.vs/
/NetCoreReactReduxAdvanced.IntegrationTest/bin
/NetCoreReactReduxAdvanced.IntegrationTest/obj
/TempCode
/NetCoreReactReduxAdvanced/appsettings.travis.json
/NetCoreReactReduxAdvanced.IntegrationTest/NetCoreReactReduxAdvanced.IntegrationTest.csproj.user